.bg {
  background: url(https://ssl.quiksilver.com/static/QS/default/category-assets/marketing-landing/landing/build/img/surf/tiles/surf_featured_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2 {
  color: darkblue;
  text-align: center;
  font-weight: bold;
  font-family: Playfair Display, sans serif;
}

p {
  color: darkblue;
  font-weight: bold;
  font-family: Lora, sans serif;
}